Repository Alexey-Lebedev-BPPG/studing-advanced-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --config ./configs/webpack/jest/jest.config.ts, stylelint --fix, stylelint, prettier --write, eslint --fix, eslint

add helper dateToLocal and declensionOfNouns, fix types Redux
  configs/esbuild/esbuild-config.ts
  configs/esbuild/plugins/HTMLPlugin.ts
  src/app/providers/StoreProvider/config/reducerManager.ts
  src/app/providers/StoreProvider/config/stateSchema.ts
  src/app/providers/StoreProvider/config/store.ts
  src/entities/Article/ui/ArticleList/ArticleList.tsx
  src/entities/User/model/services/saveJsonSettings.ts
  src/pages/ArticlesPage/model/services/fetchNextArticlePage/fetchNextArticlePage.ts
  src/shared/lib/components/AnimationProvider/AnimationProvider.tsx
  src/shared/lib/helpers/dateToLocal.ts
  src/shared/lib/helpers/declensionOfNouns.ts
  src/shared/lib/hooks/useAppDispatch/useAppDispatch.ts
  src/shared/lib/hooks/useIsMounted.ts
  src/shared/lib/hooks/useOutsideClick.ts
  vite.config.ts
Due: prettier --write, eslint --fix, eslint

fix github actions, i18n
  .github/workflows/main.yml
  .gitignore
  babel.config.json
  configs/webpack/build/loaders/buildBabelLoader.ts
Due: none

fix translates
  description.ts
  extractedTranslations/en/profile.json
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
Due: none

update packages
  package.json
  pnpm-lock.yaml
Due: none

fix error pnpm i
  package.json
  pnpm-lock.yaml
Due: none

deleted deprecated rule in stylelint, fix storybook,
  .gitignore
  .stylelintrc
  reports/dependency-graph/dependency-graph.svg
  reports/unit/.jest-test-results.json
  reports/unit/report.html
Due: none

github actions
  .github/workflows/main.yml
  description.ts
  loki.config.js
  vite.config.ts
Due: none

fix git actions
  .github/workflows/main.yml
Due: none

fix all commands without storybook, loki, chromatic, cypress
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  __snapshots__/entities/Counter/ui/Counter.test.tsx.snap
  __snapshots__/shared/ui/deprecated/Button/ui/Button.test.tsx.snap
  __snapshots__/shared/ui/deprecated/Text/ui/Text.test.tsx.snap
  __snapshots__/widgets/ArticleAdditionalInfo/ui/articleAdditionalInfo.test.tsx.snap
  configs/esbuild/esbuild-dev.ts
  json-server/index.js
  package.json
  pnpm-lock.yaml
  reports/dependency-graph/dependency-graph.svg
  reports/unit/report.html
  src/shared/ui/deprecated/Button/ui/Button.test.tsx
  src/shared/ui/deprecated/Button/ui/Button.tsx
  tsconfig.json
  vite.config.ts
Due: jest --config ./configs/webpack/jest/jest.config.ts, prettier --write, eslint --fix, eslint

f
  reports/unit/report.html
Due: none

CarouselNetflix wpi
  package.json
  pnpm-lock.yaml
  src/app/providers/router/config/routeConfig.tsx
  src/pages/CarouselNetflixPage/README.md
  src/pages/CarouselNetflixPage/index.tsx
  src/pages/CarouselNetflixPage/ui/CarouselNetflixPage.async.tsx
  src/pages/CarouselNetflixPage/ui/CarouselNetflixPage.tsx
  src/pages/CarouselNetflixPage/ui/carouselNetflixPage.module.scss
  src/shared/const/router.ts
  src/widgets/SideBar/model/selectors/getSidebarItems.ts
Due: stylelint --fix, stylelint, prettier --write, eslint --fix, eslint

add some elements
  package.json
  pnpm-lock.yaml
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/styles/index.css
  src/pages/MainPage/ui/MainPage.tsx
  src/pages/MainPage/ui/mainPage.module.css
  src/pages/NotFoundPage/ui/NotFoundPage.module.scss
  src/pages/NotFoundPage/ui/NotFoundPage.tsx
  src/pages/NotFoundPage/ui/notFoundPage.module.css
  src/shared/ui/GamesCard/GamesCard.tsx
  src/shared/ui/GamesCard/gamesCard.module.css
  src/shared/ui/redesigned/AccordionSlider/AccordionSlider.tsx
  src/shared/ui/redesigned/AccordionSlider/accordionSlider.module.css
  src/shared/ui/redesigned/AnalogClock/AnalogClock.tsx
  src/shared/ui/redesigned/AnalogClock/analogClock.module.css
  src/shared/ui/redesigned/AnimatedMoon/AnimatedMoon.tsx
  src/shared/ui/redesigned/AnimatedMoon/animatedMoon.module.css
  src/shared/ui/redesigned/CSSTypingTextEffect/CSSTypingTextEffect.module.css
  src/shared/ui/redesigned/CSSTypingTextEffect/CSSTypingTextEffect.tsx
  src/shared/ui/redesigned/Input/ui/Input.module.scss
  src/shared/ui/redesigned/Input/ui/Input.tsx
  src/shared/ui/redesigned/StatusNetwork/StatusNetwork.tsx
  src/shared/ui/redesigned/StatusNetwork/statusNetwork.module.css
Due: stylelint --fix, stylelint, prettier --write, eslint --fix, eslint

update pnpm lock
  pnpm-lock.yaml
Due: none

Path conditions:
  jest --config ./configs/webpack/jest/jest.config.ts: any of: src/**/*.test.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.{css,scss}
  stylelint: any of: src/**/*.{css,scss}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json}
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx,json}
  eslint: any of: src/**/*.{js,jsx,ts,tsx,json}
